<div class="container">
    <div class="row text-center">
        <div class="col">
            <img src="img/bagus.jpg" alt="Muhammad Bagus Setiawan" class="img-tumbnail rounded-circle" width="200px">
            <h1 class="display-4">Muhammad Bagus Setiawan</h1>
            <p class="lead">Makan | Tidur</p>
        </div>
    </div>
</div>