<h1>Hello World</h1>
<h2><%= nama %></h2>
<p>Welcome to my site</p>

<h3>Daftar Mahasiswa</h3>

<% if (mahasiswa.length == 0) { %>
<p>Data Mahasiswa Kosong</p>
<% } else { %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li>Nama : <%= mhs.nama %></li>
  <li>Email : <%= mhs.email %></li>
</ul>
<% }) %> <% } %>
